<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./css/tin-tuc.css">
</head>

<body>
    <div class="nav-control">
        <div class="container">
            <div class="logo">
                <img src="./img/logo.png" alt="">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="./index.html">Trang chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li class="menu_link"><a href="#">Sản phẩm &#8744;</a>
                        <ul class="menu_dow">
                            <table>
                                <tr>
                                    <th><a href="#">Coffee</a></th>
                                    <th><a href="#">Nước ép</a></th>
                                    <th><a href="#">Trà sữa</a></th>
                                    <th><a href="#">Cocktail</a></th>

                                </tr>
                                <tr>
                                    <td><a href="#">Esspero</a></td>
                                    <td><a href="#">Dưa hấu</a></td>
                                    <td><a href="#">Kiwi</a></td>
                                    <td><a href="#">Cocktail B-52</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Esspero</a></td>
                                    <td><a href="#">Dưa hấu</a></td>
                                    <td><a href="#">Kiwi</a></td>
                                    <td><a href="#">Cocktail B-52</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Esspero</a></td>
                                    <td><a href="#">Dưa hấu</a></td>
                                    <td><a href="#">Kiwi</a></td>
                                    <td><a href="#">Cocktail B-52</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Esspero</a></td>
                                    <td><a href="#">Dưa hấu</a></td>
                                    <td><a href="#">Kiwi</a></td>
                                    <td><a href="#">Cocktail B-52</a></td>
                                </tr>
                            </table>
                        </ul>
                    </li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="acount">
                <div class="search">
                    <input type="text" placeholder="Search">
                </div>
                <div class="user">
                    <i class='bx bxs-user' style='color:#fff9f9'></i>
                    <div class="login-form">
                        <a href="#">Đăng nhập</a>
                        <a href="#">Đăng kí</a>
                    </div>
                </div>
                <div class="cart">
                    <a href="#"><i class='bx bxs-cart' style='color:#ffffff'>
                            <div class="boxcart" id="boxcart">
                                <span class="carticon"></span>
                            </div>
                        </i></a>
                </div>
            </div>
        </div>

    </div>
    <div class="container-news">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
                <div class="col-lg-12">
                    <h1 class="title-head margin-top-15" itemprop="name">LẮNG NGHE CÀ PHÊ KỂ CHUYỆN</h1>
                    <div class="postby">
                        <span>Đăng bởi <b>Nguyễn Hữu Mạnh</b> vào lúc 04/04/2019</span>
                    </div>
                    <div class="article-details">
                        <div class="article-image hidden">
                            <a href="./lang-nghe-ca-phe-ke-chuyen.html">

                                <img itemprop="image" class="img-fluid"
                                    src="./img/blog1.webp"
                                    alt="LẮNG NGHE CÀ PHÊ KỂ CHUYỆN">

                            </a>
                        </div>
                        <div class="article-content margin-top-15" itemprop="description">
                            <div class="rte">
                                <ul>
                                    <li>
                                        <p>Cuộc đời cafe, cũng như cuộc đời của con người, cũng phải 9 tháng 10 ngày
                                            thai nghén mới được thu hoạch.</p>
                                        <p>Café cũng có quãng thời gian trưởng thành, có thăng trầm và cả những sắc
                                            thái.</p>
                                        <p>Sinh ra từ mầm cây, cafe chưa phải là hạt, cafe là thứ hoa trắng muốt, tinh
                                            khôi và cũng rất ngây thơ và dễ thương nữa.</p>
                                        <p>Lớn hơn một chút, hoa kết thành trái.</p>
                                        <p>Trái xanh non và yếu ớt.</p>
                                        <p>Trái như con người, chuẩn bị những bước chân đầu và chưa hề biết mùi vị của
                                            cuộc đời.</p>
                                        <p>Rồi trái cafe xanh non ấy trải qua những cuộc ngụm lặn khi đất trời đổi thay.
                                        </p>
                                    </li>
                                    <li><img alt="Dấu phẩy button"
                                            src="./img/lang-nghe-ca-phe-ke-chuyen-124.jpg">
                                        <p>Ta sẽ hiểu về cuộc sống hơn nếu như ta quan sát kỹ và suy ngẫm về cafe. Cafe
                                            đã thuyết phục tôi bằng những câu chuyện về chính cuộc đời mình. Và tôi phải
                                            lòng cafe như vậy, phải lòng từ những câu chuyện quanh ly cafe. Như câu
                                            chuyện cổ tích “Nghìn lẻ một đêm”, tôi không ngừng thôi bị quyến rũ cả về
                                            hương, vị, tâm hồn cafe. Và hơn thế, bởi cả những câu chuyện đời đầy triết
                                            lý và chiêm nghiệm thú vị, sâu sắc. Một ngày, cafe thì thầm kể…</p>
                                    </li>
                                </ul>
                                <p><img alt="Dấu phẩy top"
                                        src="./img/lang-nghe-ca-phe-ke-chuyen-124-1.jpg">
                                </p>
                                <p>Mưa rồi nắng. Những cơn mưa vần vũ rồi đến những đợt gió lạnh. Đôi khi sinh lực còn
                                    bị cuốn hết bởi những con sâu đáng ghét hay một mùa nắng hạn bất chợt. Nhưng hay
                                    thay, hạt cafe không lẻ loi mà chúng được kết thành chùm, thành nhánh. Những hạt
                                    café không phải sợ, vì đã có rất nhiều trái khác, chùm khác luôn ở bên cạnh. Chúng
                                    cùng vượt qua những sóng gió cuộc đời với nhau, như chúng ta cũng vậy. Những hạt
                                    cafe nào không qua nổi cái thử thách kia có lẽ sẽ mãi xanh hay đỏ chưa tới đã vội
                                    rụng xuống và tử bỏ cả chuyến phiêu lưu tiếp theo. Còn những trái còn lại khi đã nếm
                                    đủ vị mùi vị thiên nhiên, ngày càng chai sạn, đỏ dần lên và mạnh mẽ hơn. Đó là lúc
                                    cafe đã chín nhưng nó vẫn tiếp tục hấp thụ tinh hoa để đạt đến độ đỏ cuối cùng. Là
                                    màu đỏ thâm của sự chiến thắng sự rực lửa căng tràn nguồn sống. Cuộc đời của trái
                                    cafe có lẽ đẹp nhất ở giai đoạn này. Hưởng thụ nguồn nước tinh khiết, không khí mát
                                    lành, mảnh đất màu mỡ, hưởng thụ tình yêu bền chặt chăm sóc từ những người dân cao
                                    nguyên đất đỏ, những trái cafe đỏ mọng ấy là những trái ngon nhất, đẹp nhất, đáng tự
                                    hào nhất của bà mẹ thiên nhiên.</p>
                                <p>Bởi vậy, nhiều người không chịu được vị đắng của cà phê nên thường bỏ đường hoặc sữa
                                    cho bớt đắng. Tôi không cho đường hay sữa vào cà phê bởi tôi biết: phải nếm trải qua
                                    cái đắng mới cảm nhận được hậu vị ngọt ngào đến lịm người từ những trái cafe hảo
                                    hạng. Để đọng lại cuối cùng là sự lắng lại để thưởng thức và để nghe câu chuyện,
                                    những chuyến phiêu lưu từ cuộc sống. Hãy ngồi xuống, pha một ly café và lắng nghe
                                    cafe thì thầm tiếp bạn nhé!&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 space-30">
                    <div class="related-blog-title">
                        <h2> Tin liên quan</h2>
                    </div>
                    <div class="list-blogs related-blogs">
                        <article class="blog-item blog-item-list ">
                            <h3 class="blog-item-name"><i class="fa fa-caret-right"></i> <a
                                    href="./che-bien-ca-phe.html" title="CHẾ BIẾN CÀ PHẾ">CHẾ BIẾN CÀ PHẾ</a></h3>
                        </article>
                        <article class="blog-item blog-item-list ">
                            <h3 class="blog-item-name"><i class="fa fa-caret-right"></i> <a href="./tinh-yeu-va-ca-phe.html"
                                    title="TÌNH YÊU VÀ CÀ PHÊ">TÌNH YÊU VÀ CÀ PHÊ</a></h3>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="logo">
                <a href="./index.html"><img src="./img/logo.png" alt=""></a>
            </div>
            <div class="infor-footer">
                <div class="footer-item">
                    <h3>Kết nối với chúng tôi</h3>
                    <p>Chúng tôi mong muốn tạo nên hương vị thức uống tuyệt vời nhất. Là điểm đến đầu tiên dành cho bạn
                        khi muốn thưởng thức trọn vẹn của tách Coffee</p>
                </div>
                <div class="footer-item">
                    <h3>Kết nối với chúng tôi</h3>
                    <p>Chúng tôi mong muốn tạo nên hương vị thức uống tuyệt vời nhất. Là điểm đến đầu tiên dành cho bạn
                        khi muốn thưởng thức trọn vẹn của tách Coffee</p>
                </div>
                <div class="footer-item">
                    <h3>Kết nối với chúng tôi</h3>
                    <p>Chúng tôi mong muốn tạo nên hương vị thức uống tuyệt vời nhất. Là điểm đến đầu tiên dành cho bạn
                        khi muốn thưởng thức trọn vẹn của tách Coffee</p>
                </div>
                <div class="footer-item">
                    <h3>Kết nối với chúng tôi</h3>
                    <p>Chúng tôi mong muốn tạo nên hương vị thức uống tuyệt vời nhất. Là điểm đến đầu tiên dành cho bạn
                        khi muốn thưởng thức trọn vẹn của tách Coffee</p>
                </div>
            </div>



        </div>
    </div>
</body>

</html>