<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/tin-tuc.css">
	<link rel="stylesheet" href="./style.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
	<div class="nav-control">
        <div class="container">
            <div class="logo">
                <img src="./img/logo.png" alt="">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="./index.html">Trang chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li class="menu_link"><a href="#">Sản phẩm &#8744;</a>
                        <ul class="menu_dow">
                            <table>
                                <tr>
                                    <th><a href="#">Coffee</a></th>
                                    <th><a href="#">Nước ép</a></th>
                                    <th><a href="#">Trà sữa</a></th>
                                    <th><a href="#">Cocktail</a></th>

                                </tr>
                                <tr>
                                    <td><a href="#">Esspero</a></td>
                                    <td><a href="#">Dưa hấu</a></td>
                                    <td><a href="#">Kiwi</a></td>
                                    <td><a href="#">Cocktail B-52</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Esspero</a></td>
                                    <td><a href="#">Dưa hấu</a></td>
                                    <td><a href="#">Kiwi</a></td>
                                    <td><a href="#">Cocktail B-52</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Esspero</a></td>
                                    <td><a href="#">Dưa hấu</a></td>
                                    <td><a href="#">Kiwi</a></td>
                                    <td><a href="#">Cocktail B-52</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Esspero</a></td>
                                    <td><a href="#">Dưa hấu</a></td>
                                    <td><a href="#">Kiwi</a></td>
                                    <td><a href="#">Cocktail B-52</a></td>
                                </tr>
                            </table>
                        </ul>
                    </li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="acount">
                <div class="search">
                    <input type="text" placeholder="Search">
                </div>
                <div class="user">
                    <i class='bx bxs-user' style='color:#fff9f9'></i>
                    <div class="login-form">
                        <a href="#">Đăng nhập</a>
                        <a href="#">Đăng kí</a>
                    </div>
                </div>
                <div class="cart">
                    <a href="#"><i class='bx bxs-cart' style='color:#ffffff'>
                        <div class="boxcart" id="boxcart">
                            <span class="carticon"></span>
                        </div>
                    </i></a>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="col-12">
            <div class="gray-container">
                
            </div>
        </div>
        <div class="col-md-3 col-12">
            <div class="d-block d-md-none">
                
            </div>
        </div>
        <div class="row">
            <div class="box-heading hidden">
				<h1 class="title-head">Tin tức</h1>
			</div>
            <aside class="col-lg-3 col-md-3">
                
            </aside>
            <section class="right-content col-lg-9 col-md-9  col-md-push-3 col-lg-push-3">			
				
				<section class="list-blogs blog-main">	
					<article class="blog-item">
						<div class="blog-item-thumbnail">						
							<a href="/che-bien-ca-phe" title="CHẾ BIẾN CÀ PHÊ">							
								<picture>
									<img src="./img/blog3.webp" style="width: 383px;height: 168px;" class="img-responsive" alt="CHẾ BIẾN CÀ PHÊ">
								</picture>
							</a>
						</div>
						<div class="blog-item-info">
							<a href="/che-bien-ca-phe" title="CHẾ BIẾN CÀ PHÊ"><h3 class="blog-item-name">CHẾ BIẾN CÀ PHÊ</h3></a>
							<div class="blog-item-meta">
								<div class="post-author" style="pointer-events:none !important;">
									Nguyễn Hữu Mạnh
								</div>
								<div class="post-time">
									04/04/2019
								</div>
								<div class="post-comment">
									<span>0</span> bình luận
								</div>
							</div>
							<p class="blog-item-summary margin-bottom-5"> Cà phê sạch hiểu đơn giản là 100% cà phê, không pha trộn thêm bất cứ thứ gì khác. Vậy quy trình sản xuất chế biến cà phê sạch như thế nà...</p>
						</div>
					</article>		
					<article class="blog-item">
						<div class="blog-item-thumbnail">						
							<a href="/tinh-yeu-va-ca-phe" title="TÌNH YÊU VÀ CÀ PHÊ">
								<picture>
									<img src="./img/blog2.webp" style="max-width:100%;" class="img-responsive" alt="TÌNH YÊU VÀ CÀ PHÊ">
								</picture>
							</a>
						</div>
						<div class="blog-item-info">
							<a href="/tinh-yeu-va-ca-phe" title="TÌNH YÊU VÀ CÀ PHÊ"><h3 class="blog-item-name">TÌNH YÊU VÀ CÀ PHÊ</h3></a>
							<div class="blog-item-meta">
								<div class="post-author">
									Nguyễn Hữu Mạnh
								</div>
								<div class="post-time">
									04/04/2019
								</div>
								<div class="post-comment">
									<span>0</span> bình luận
								</div>
							</div>
							<p class="blog-item-summary margin-bottom-5"> TÌNH YÊU VÀ CÀ PHÊ 
                            Yêu một người cũng giống yêu một hương vị cà phê. Có thể mất rất ít thời gian để thích, để khám phá. Nhưng cả tình ...</p>
						</div>
					</article>	
					<article class="blog-item">
						<div class="blog-item-thumbnail">						
							<a href="/lang-nghe-ca-phe-ke-chuyen" title="LẮNG NGHE CÀ PHÊ KỂ CHUYỆN">	
								<picture>
									<img src="./img/blog1.webp" style="max-width:100%;" class="img-responsive" alt="LẮNG NGHE CÀ PHÊ KỂ CHUYỆN">
								</picture>	
							</a>
						</div>
						<div class="blog-item-info">
							<a href="/lang-nghe-ca-phe-ke-chuyen" title="LẮNG NGHE CÀ PHÊ KỂ CHUYỆN"><h3 class="blog-item-name">LẮNG NGHE CÀ PHÊ KỂ CHUYỆN</h3></a>
							<div class="blog-item-meta">
								<div class="post-author">
									Nguyễn Hữu Mạnh
								</div>
								<div class="post-time">
									04/04/2019
								</div>
								<div class="post-comment">
									<span>0</span> bình luận
								</div>
							</div>
							<p class="blog-item-summary margin-bottom-5"> 
                                Cuộc đời cafe, cũng như cuộc đời của con người, cũng phải 9 tháng 10 ngày thai nghén mới được thu hoạch. 
                                Café cũng có quãng thời g...</p>
						</div>
					</article>
					<div class="text-xs-left">
					</div>
				</section>
				
				
			</section>
        </div>
    </div>
	<div class="footer">
        <div class="container">
            <div class="logo">
                <a href="./index.html"><img src="./img/logo.png" alt=""></a>
            </div>
            <div class="infor-footer">
                <div class="footer-item">
                    <h3>Kết nối với chúng tôi</h3>
                    <p>Chúng tôi mong muốn tạo nên hương vị thức uống tuyệt vời nhất. Là điểm đến đầu tiên dành cho bạn
                        khi muốn thưởng thức trọn vẹn của tách Coffee</p>
                </div>
                <div class="footer-item">
                    <h3>Kết nối với chúng tôi</h3>
                    <p>Chúng tôi mong muốn tạo nên hương vị thức uống tuyệt vời nhất. Là điểm đến đầu tiên dành cho bạn
                        khi muốn thưởng thức trọn vẹn của tách Coffee</p>
                </div>
                <div class="footer-item">
                    <h3>Kết nối với chúng tôi</h3>
                    <p>Chúng tôi mong muốn tạo nên hương vị thức uống tuyệt vời nhất. Là điểm đến đầu tiên dành cho bạn
                        khi muốn thưởng thức trọn vẹn của tách Coffee</p>
                </div>
                <div class="footer-item">
                    <h3>Kết nối với chúng tôi</h3>
                    <p>Chúng tôi mong muốn tạo nên hương vị thức uống tuyệt vời nhất. Là điểm đến đầu tiên dành cho bạn
                        khi muốn thưởng thức trọn vẹn của tách Coffee</p>
                </div>
            </div>
            
           
            
        </div>
    </div>
</body>
</html>