<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./css/tin-tuc.css">
</head>

<body>
    <div class="nav-control">
        <div class="container">
            <div class="logo">
                <img src="./img/logo.png" alt="">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="./index.html">Trang chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li class="menu_link"><a href="#">Sản phẩm &#8744;</a>
                        <ul class="menu_dow">
                            <table>
                                <tr>
                                    <th><a href="#">Coffee</a></th>
                                    <th><a href="#">Nước ép</a></th>
                                    <th><a href="#">Trà sữa</a></th>
                                    <th><a href="#">Cocktail</a></th>

                                </tr>
                                <tr>
                                    <td><a href="#">Esspero</a></td>
                                    <td><a href="#">Dưa hấu</a></td>
                                    <td><a href="#">Kiwi</a></td>
                                    <td><a href="#">Cocktail B-52</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Esspero</a></td>
                                    <td><a href="#">Dưa hấu</a></td>
                                    <td><a href="#">Kiwi</a></td>
                                    <td><a href="#">Cocktail B-52</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Esspero</a></td>
                                    <td><a href="#">Dưa hấu</a></td>
                                    <td><a href="#">Kiwi</a></td>
                                    <td><a href="#">Cocktail B-52</a></td>
                                </tr>
                                <tr>
                                    <td><a href="#">Esspero</a></td>
                                    <td><a href="#">Dưa hấu</a></td>
                                    <td><a href="#">Kiwi</a></td>
                                    <td><a href="#">Cocktail B-52</a></td>
                                </tr>
                            </table>
                        </ul>
                    </li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="acount">
                <div class="search">
                    <input type="text" placeholder="Search">
                </div>
                <div class="user">
                    <i class='bx bxs-user' style='color:#fff9f9'></i>
                    <div class="login-form">
                        <a href="#">Đăng nhập</a>
                        <a href="#">Đăng kí</a>
                    </div>
                </div>
                <div class="cart">
                    <a href="#"><i class='bx bxs-cart' style='color:#ffffff'>
                            <div class="boxcart" id="boxcart">
                                <span class="carticon"></span>
                            </div>
                        </i></a>
                </div>
            </div>
        </div>

    </div>
    <div class="container-news">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
                <div class="col-lg-12">
                    <h1 class="title-head margin-top-15" itemprop="name">TÌNH YÊU VÀ CÀ PHÊ</h1>
                    <div class="postby">
                        <span>Đăng bởi <b>Nguyễn Hữu Mạnh</b> vào lúc 04/04/2019</span>
                    </div>
                    <div class="article-details">
                        <div class="article-image hidden">
                            <a href="./tinh-yeu-va-ca-phe.html">

                                <img itemprop="image" class="img-fluid"
                                    src="./img/blog2.webp"
                                    alt="TÌNH YÊU VÀ CÀ PHÊ">

                            </a>
                        </div>
                        <div class="article-content margin-top-15" itemprop="description">
                            <div class="rte">
                                <h5>TÌNH YÊU VÀ CÀ PHÊ</h5>
                                <p>Yêu một người cũng giống yêu một hương vị cà phê. Có thể mất rất ít thời gian để
                                    thích, để khám phá. Nhưng cả tình yêu và cà phê, đều cần thời gian để trải nghiệm,
                                    để hiểu sâu về nhau, để dung hòa những khác biệt, những mới lạ trở thành một phần
                                    của bản ngã</p>
                                <p><strong>Không pha tạp mà lắng đọng</strong></p>
                                <p>Cảm xúc khi yêu một người cũng chẳng khác nhiều khi được nếm một tách&nbsp;cà
                                    phê&nbsp;ngon. Ban đầu có thể đắng, có thể lạ, nhưng càng lâu, chất đắng thành ngọt,
                                    chất lạ thành quen, nét ban sơ trở nên gần gũi, nét mới lạ trở thành sự thân quen để
                                    rồi không thể thiếu.</p>
                                <p>&nbsp;</p>
                                <p>Và khi đã yêu, người ta thường chung thủy, trung thành đến gần như tuyệt đối với lựa
                                    chọn của mình. “Khó có thể quay lưng lại với tình yêu của đời mình cũng như khó có
                                    thể từ bỏ một hương vị cà phê đã gắn bó”.Thế nên dù sau 20, 30 năm, những cặp đôi
                                    vẫn đi về một chốn cũ, cùng thưởng thức chất vị cà phê cũ, để những mời chào, những
                                    hấp lực đổi thay ở lại phía sau lưng…</p>
                                <p><strong>Cung bậc đa nguyên, dư vị bất biến</strong></p>
                                <p>Tình yêu có muôn vàn cung bậc cảm xúc. Nhưng sau cùng vẫn là dư vị ngọt ngào của hạnh
                                    phúc lứa đôi. Tình yêu có thể có ghen tuông hờn giận. Nhưng tựu trung lại vẫn là sự
                                    thủy chung cùng nhình về một hướng. Tình yêu cũng dễ khiến đôi mắt của người ta long
                                    lanh như say một thứ men quá đỗi ngọt ngào, nhưng bí mật chỉ hai người biết. Cà phê
                                    cũng thế. Có muôn vàn vị mà cà phê đem lại cho người thưởng thức từ những làn hương
                                    đầu tiên đến ngụm cà phê cuối cùng tan trên đầu lưỡi. Có muôn vàn xúc cảm, từ phấn
                                    chấn tận tâm can, đến lâng lâng bừng hứng khởi hay thậm chí thăng hoa khi chất thời
                                    gian thấm đẫm người thưởng lãm.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 space-30">
                    <div class="related-blog-title">
                        <h2> Tin liên quan</h2>
                    </div>
                    <div class="list-blogs related-blogs">
                        <article class="blog-item blog-item-list ">
                            <h3 class="blog-item-name"><i class="fa fa-caret-right"></i> <a href="./che-bien-ca-phe.html"
                                    title="CHẾ BIẾN CÀ PHẾ">CHẾ BIẾN CÀ PHẾ</a></h3>
                        </article>
                        <article class="blog-item blog-item-list ">
                            <h3 class="blog-item-name"><i class="fa fa-caret-right"></i> <a
                                    href="./lang-nghe-ca-phe-ke-chuyen.html" title="LẮNG NGHE CÀ PHÊ KỂ CHUYỆN">LẮNG
                                    NGHE CÀ
                                    PHÊ KỂ CHUYỆN</a></h3>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="logo">
                <a href="./index.html"><img src="./img/logo.png" alt=""></a>
            </div>
            <div class="infor-footer">
                <div class="footer-item">
                    <h3>Kết nối với chúng tôi</h3>
                    <p>Chúng tôi mong muốn tạo nên hương vị thức uống tuyệt vời nhất. Là điểm đến đầu tiên dành cho bạn
                        khi muốn thưởng thức trọn vẹn của tách Coffee</p>
                </div>
                <div class="footer-item">
                    <h3>Kết nối với chúng tôi</h3>
                    <p>Chúng tôi mong muốn tạo nên hương vị thức uống tuyệt vời nhất. Là điểm đến đầu tiên dành cho bạn
                        khi muốn thưởng thức trọn vẹn của tách Coffee</p>
                </div>
                <div class="footer-item">
                    <h3>Kết nối với chúng tôi</h3>
                    <p>Chúng tôi mong muốn tạo nên hương vị thức uống tuyệt vời nhất. Là điểm đến đầu tiên dành cho bạn
                        khi muốn thưởng thức trọn vẹn của tách Coffee</p>
                </div>
                <div class="footer-item">
                    <h3>Kết nối với chúng tôi</h3>
                    <p>Chúng tôi mong muốn tạo nên hương vị thức uống tuyệt vời nhất. Là điểm đến đầu tiên dành cho bạn
                        khi muốn thưởng thức trọn vẹn của tách Coffee</p>
                </div>
            </div>



        </div>
    </div>
</body>

</html>