.container-cart{
    margin-top: 200px;
    margin-bottom: 50px;
    position:relative !important;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
.boxcenter {
    width: 50%;
    margin: 0 auto;
}
td img {
    height: 100px;
}
.footer{
    position: relative !important;
}
.footer img {
    padding-top: 20px;  
    width: 155% !important;
}
/* table {
    width: 100%;
    border-collapse: collapse;
}

th {
    border: 1px #CCC solid;
    background-color: #EEE;
}

td {
    border: 1px #CCC solid;
}

th,
td {
    padding: 10px 20px;
    text-align: center;
}

tbody>tr>td:nth-child(5),
tbody>tr>td:nth-child(3) {
    text-align: right;
}

tr>td:nth-child(2) {
    text-align: right;
    font-weight: bold;
} */

.remo {
    height: 40px;
}

.carticon {
    height: 40px;
    margin-right: 10px;
    float: left;
}

.boxcart {
    position:absolute;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    padding-left:4.5px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
}

.cartani{
    animation-name: myani;
    animation-duration: 0.5s ;
}

@keyframes myani{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}