input{
    max-width: 388px;
}
a{
    text-decoration: none;
}
.main {
    width: 68%;
    padding: 28px
}
.sidebar {
    width: 32%;
}
.form-check-label{
    box-sizing: content-box;
}
.section_title{
    font-weight: 600;
    font-size: 18.4px;
}
.select2-selection__arrow {
    border-left: 1px rgba(179,179,179,.5) solid;
    width: 2em;
    top: 0.5em;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}
.error {
    color: red;
    font-size: 90%;
}
.flex_button{
    display:flex;
    margin-top: 100px !important;
}
.ml-10{
    margin-left: 10px;
}